<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Details</title>
<style>
    .main{
    background-color:#f1f1f1;
    margin:10px;
    }
    body{
    font-family: Arial,Helvetica, sans-serif;
    }
    button{
    background-color: #04AA6D;
    color:white;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    }
    button:hover{
    opacity:0.8;}
    .container{
    padding:16px;
    }
</style>
</head>
<body>
<div class="main">
    <div class="container">

        <h2>Personal Details</h2>
        <form method="post" id="personForm">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit"><a href="{% url 'redirecting' %}">Submit</a></button>
            <button type="submit"><a href="{% url 'logout' %}">Logout</a></button>
        </form>
    </div>
</div>
</body>
</html>